<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/gestionar.css">

    <title>Gestionar</title>
</head>
<body>
    <!--MENU CABECERA-->
    
    <header class="header">

        <nav class="nav">

            <a href="home.html" class="nav_logo">Funny Pets</a>
    
            <ul class="nav_items">
                <li class="nav_item">
                    <a href="/templates/citas.html" class="nav_link">Citas</a>
                    <a href="/templates/gestionar.html" class="nav_link">Gestionar</a>
                    <a href="#" class="nav_link">Consultar</a>
                </li>
            </ul>
        </nav>

    </header>

    <!--HOME-->

    <section class="home">

        <div class="table">

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cadula</th>
                        <th>Fecha Cita</th>
                        <th>Email</th>
                        <th>Ceular</th>
                        <th>Nombre mascota</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody class="student-list">
                    <tr>
                        <td>Sebastian</td>
                        <td>Villacres</td>
                        <td>1020798717</td>
                        <td>14/10/2024</td>
                        <td>juansevillacres@gmail.com</td>
                        <td>3182620398</td>
                        <td>Muñeca</td>
                        <th>
                            <a href="" class="btnEdid">Edit</a>
                            <a href="" class="btndelate">Delate</a>
                        </th>

                    </tr>

                </tbody>


            </table>

        </div>




    </section>



</body>
</html>